# BASE
ASYNCIO_LOOP="asyncio" # asyncio (for win) or uvloop (for *nix)

# CORS
CORS_ALLOW_ORIGINS='@json ["http://localhost:3000"]'
SECURE_COOKIES="@bool false"
SECURE_SAMESITE="none" # or "lax"

# POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/postgres"

# REDIS
REDIS_URL="redis://127.0.0.1:6379/0"

# LOGGER
LOG_LEVEL="INFO" # (DEBUG, INFO, WARNING, ERROR, CRITICAL)
PRE_REGISTERED_LOGGERS='@json [ "uvicorn", "dishka" ]'
